<!-- <h1>User#welcome</h1>

<p>
  <%= @greeting %>, find me in app/views/user_mailer/welcome.html.erb
</p> -->

<p>Hi <%= @user.first_name %>,</p>

<p>From today you'll not need to hold anymore!</p>

<p>See ya!</p>
