<div class="home-banner">
  <div class="home-banner-items">
    <h1>Hold no more</h1>
    <p>Settle in somewhere new. Discover toilets to relax & relief.</p>
    <%= link_to "Explore nearby", toilets_path, class: "btn btn-flat" %>
  </div>
</div>

<div class="card-home">
  <div class="card-service">
    <img src="unique_toilets.jpg" alt="">
    <div class="card-service-infos">
      <div>
        <h2>Unique toilets</h2>
        <p>Toilets that are more then just to relax your bladder.</p>
      </div>
    </div>
  </div>
  <div class="card-service">
    <img src="more_experiences.jpg" alt="">
    <div class="card-service-infos">
      <div>
        <h2>More Experiences</h2>
        <p>A new way to relax your bladder like the comfort of your home.</p>
      </div>
    </div>
  </div>
  <div class="card-service">
    <img src="entire_toilets.jpg" alt="">
    <div class="card-service-infos">
      <div>
        <h2>Entire toilets</h2>
        <p>Comfortable private toilets with showers.</p>
      </div>
    </div>
  </div>
</div>
