<div class="home-banner">
  <div class="home-banner-items">
    <h1>This is the toilets index page</h1>
    <p>We have <%= Toilet.count %> toilet/s for you nearby.</p>
    <ul>
      <% @toilets.each do |toilet| %>
        <li><%= toilet.name %></li>
        <li><%= toilet.address %></li>
        <%= link_to 'More info', toilet_path(toilet) %>
      <% end %>
    </ul>
  </div>
</div>
