<div class="home-banner">
  <div class="home-banner-items">
    <h1>This is the toilets index page</h1>
    <ul>
      <% @toilets.each do |toilet| %>
        <li><%= link_to toilet.name, toilet_path(toilet) %></li>
      <% end %>
    </ul>
  </div>
</div>
