<div class="container">
  <h1>This is the toilet show page</h1>
  <div class="toilet-show-card">
    <div>
      <h1><%= @toilet.name %></h1>
      <p><%= @toilet.address %></p>
      <p><%= @toilet.description %></p>
    </div>
  </div>
</div>
