<div class="home-banner">
  <div class="home-banner-items">
    <h1><%= @toilet.name %></h1>
    <p><%= @toilet.address %></p>
  </div>
</div>

<div class="toilet-show-card">
  <div>
    <p><%= @toilet.description %></p>
    <% @toilet.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>
</div>
