.home-banner {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.95) 0%, rgba(1, 1, 1, 0.5) 50%), asset-url('home_banner.jpg');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
  text-align-last: left;
}

.home-banner-items {
  padding: 16px;
}

p {
  font-size: 16px;
}

.short-banner {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.95) 0%, rgba(1, 1, 1, 0.5) 50%), asset-url('home_banner.jpg');
  background-size: cover;
  height: 50vh;
  color: #eee;
  text-align: center;
  padding-top: 20vh;
  text-align-last: left;
}
