.card-home {
  display: flex;
  justify-content: center;
}

.card-service {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 16px;
  margin: 8px;
  margin-top: 16px;
  margin-bottom: 32px;
  width: 400px;
}

.card-service > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-service h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-service p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-service .card-service-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-service-infos .card-service-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-body {
  overflow: hidden;
  background: black;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-body-service {
  display: flex;
  justify-content: center;
}

.card-body-header {
  display: flex;
  justify-content: space-between;
}

.card-body-header h1 {
  color: white;
  font-size: 22px;
}

.card-body-header p {
  color: white;
  font-size: 12px;
}

.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  transition: background 0.3s ease;
}

.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.card-toilet {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 16px;
  border-radius: 8px;
}

.card-toilet > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-toilet h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-toilet p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-toilet .card-toilet-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-toilet-infos .card-toilet-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
